/* ==========================================================================
   Global Overrides
  ========================================================================== */
@import 'reset';

* {
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */


/* Global
   ================================================================ */

html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

nav.preamble {
  width: 100%;
  align-items: right;
  background-color: #FFFFFF;
  float: right;
  padding-left: 10px;
  text-align: right;


  li.preamble {
    list-style: none;
  }

    a {
      padding: 0px 10px;
      display: inline-block;
    }

    img {
      width: 32px;
    }

}



/* Headings
   ================================================================ */
h1 {
  font-family: 'Lato', sans-serif;
  color: #E7C391;
  font-size: 1.875rem;
  line-height: 1;
  float: left;
  margin-top: 20px;
  width: 35%;

  a, a:visited {
    color: #E7C391;
    bottom: 10;
    text-transform: uppercase;
    text-decoration: none;
  }
}
   img.logo {
    width: 100px;   
    vertical-align:middle;
  }

h2 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 1.563rem;
  margin: 0;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.563rem;
  margin: 0;
}

nav select {
  display: none;
}



/* Text Styles
   ================================================================ */


p {
  margin: 0 0 30px;
}




/* Header/Footer
   ================================================================ */
header,
footer {
  background-color: #3b3a3a;

}

header {
  padding: 0 20px;
   border-bottom: 2px solid gray;

}

footer {
  clear: both;
  padding: 25px 38px;
}

footer p {
  margin: 0;
}



/* Navigation
   ================================================================ */
nav.tab-header {
  float: right;
  padding-left: 10px;
  text-align: right;
  align-items: right;
  font-family: 'Lato', sans-serif;
  padding-left: 60px;
  width: 60%;



  li {
    float: left;
    text-align: center;
    padding-top: 15px;
  

    a {
      display: inline-block;
      padding: 20px 15px;
      color: #E7C391;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Lato',  sans-serif;
    }

    a:hover {
      text-shadow: -0.06em 0 0 red, 0.06em 0 0 cyan;
    }
  }
}

header nav strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* Buttons
   ================================================================ */
.button,
.button:visited {
  font-family: "Oswald", sans-serif;
  display: block;
  padding: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #222;
  border-radius: 5px;
  background: #deece6;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  font-size: 1.25rem;
}

/* Super info button in blurb */
.blurb .button {
  transition: all .2s ease;
  color: white;
  background: #fa4542;
}

.blurb .button:hover {
  color: white;
  background: #f6201d;
}


/* Tagline
   ================================================================ */
.tagline {
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1em;
  margin: 0;
  padding: 25px;
  text-align: center;
  border-top: 1px solid #aaa;
  background-color: #deece6;
}


/* Banner
   ================================================================ */
  div.blurb {
  float: right;
  width: 420px; 
  display: table;
  margin: 0 auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px rgba(0,0,0,.75);
}


/* Info Sections (Call to action columns)
   ================================================================ */
.info {
  float: left;
  width: 33.333333334%;
  margin: 25px 0;
  padding: 24px 38px;
  border-right: 1px solid rgba(0,0,0,.15);
}

.info:last-of-type {
  border-right: none;
}

@media screen and (max-width: 968px) {

  html {
    font-size: 18px;
  }

    header {
      padding: 0 20px 0 20px;
    }

    h1 {
        float: none;
        width: 100%;
        margin: 0px 0 10px 0;
        padding-top: 10px;
        text-align: center;
        font-size: 1.563rem;
    }



    nav {
        float: none;
        width: 100%;
        padding: 0;
    }

    nav a {
        float: none;
        display: block;
        width: 100%;
        padding: 2px;
        margin: 0 0 10px 0;
    }

    nav li {
    float: none;
    text-align: center;
    }

    .tagline {
    font-size: 1.0rem;
    font-style: italic;
    line-height: 1em;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #aaa;
    background-color: #deece6;
  }




  .blurb {
      margin-bottom: 0;
      float: none;
      display: block;
      width: 32.5rem; 
      margin: 0 auto;
      padding: 50px;
      background-color: rgba(255, 255, 255, .8);
      box-shadow: 0 0 5px rgba(0,0,0,.75);
  }

  .info {
      float: none;
      width: 100%;
      padding: 0;
      margin: 0 0 10px 0;
  }

  .Develop-Design {
      float: left;
      width: 50%;
      display: block;
  }

  .About-Us {
      float: left;
      width: 33.33333333%;
      display: block;
  }

    

  .Desktop-Menu { 
      display: none; 
    }

  nav select { 
  display: inline-block; 

  }

  header h1 {
    float: left;
    width: 75%;
    text-align: left;
  }


  a.mobile-header {
    font-size: 1.563rem;
    color: #E7C391;
  }


  nav.mobile-header {
  float: right;
  width: 60%;
  overflow: hidden;
  padding-left: 50px;
  margin: 10px 0;
}

  section.info {
    padding: 0 30px 30px 30px;

}

  section.banner {
    margin-bottom: 30px;

  }

  }
/*  // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

// bands intown